{% extends "base.html" %}
{% block content %}
<!-- |safe se encarga de reconocer caracteres como negritas, itálicas h1-h6 
			formatos etc sin eso sale la etiqueta pura -->


<div class="wrap">

<div class="container text-center post-title">
	<h1>{{title}}</h1>
</div>

{%if current_user.email == "kenth1977@gmail.com" or current_user.email == "jceciliano69@gmail.com"%} 
	<div class="container create_post_btn">
		<a href="{{url_for('add_post', id=post.id)}}">
		<i class="edit_option_post icon-file-empty" aria-hidden="true"></i>CREAR UN NUEVO POST</a>
	</div>
{%endif%}

<div class="container">
	<div class="row">
			



			{%for post in post%}
				<div class="col-xs-12 col-sm-6 col-md-4 col-xl-3 ">
					<div class="card_post  ">
					 {{post.titulo|safe}}
			        <p><strong>{{post.user.username}}</strong> <small>{{post.slug|safe}}</small></p>
			         <br>
			        <div class="contenido line-limiter">
			        	<p class="">{{post.content|safe}}</p>
			        </div>  
			        
			     

			      	<br>{{post.date_posted.strftime('%d-%m-%Y')}}<br>
					
				
					
				<hr>
				
				<div class="social_icons mt-5">
		          <i class="icon_post fas fa-reply" aria-hidden="true"></i>
		          <i class="icon_post fas icon-share2" aria-hidden="true"></i>
		          <i class="icon_post fas fa-heart" aria-hidden="true"></i>
		    	</div>
		    	</div>

		       	
		    		


		    		{%if current_user.email == "kenth1977@gmail.com" or current_user.email == "jceciliano69@gmail.com"%}  
						<hr>
				       	<div class="editor">
				 
				           	<a href="{{url_for('posts', id=post.id)}}">
					            <i class="edit_option_post icon-eye" aria-hidden="true"></i>
				            </a>
				           			             
				          	<a href="{{url_for('edit_post', id=post.id)}}">
					            <i class="edit_option_post icon-pencil2" aria-hidden="true"></i>
				            </a>
				            
				          	<a href="{{url_for('delete_post', id=post.id)}}">
					            <i class="edit_option_post icon-bin" aria-hidden="true"></i>
				             </a>
				        </div>
					{%endif%}

			        
			    </div>
			{%endfor%}
		</div>
	</div>
</div>

	

	  	   


{% endblock %}